<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SpikeWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="KinectWPF3D.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <SpikeWPF.Properties.Settings>
            <setting name="NotificationZoneConstrain" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DisplayWidthInMeters" serializeAs="String">
                <value>1.06</value>
            </setting>
            <setting name="DisplayHeightInMeters" serializeAs="String">
                <value>0.58</value>
            </setting>
        </SpikeWPF.Properties.Settings>
        <KinectWPF3D.Properties.Settings>
            <setting name="NotificationZoneConstrain" serializeAs="String">
                <value>2</value>
            </setting>
        </KinectWPF3D.Properties.Settings>
    </userSettings>
</configuration>
